<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link rel="stylesheet" href="index.css">
  <script type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/query/" class="right">New Translation</a>
      <a href="/query/history" class="right">View History</a>
    </div>
  </nav>
<% if(model.length>0){%>
<div class="pos">

    <% for(var i=0; i<model.length; i++){ %>
  <ul>
      <div class="card hoverable width">
<% var temp = model[i].imageUrl
var str = temp.slice(7)
<!-- str= 'http://localhost:3000'+str %> -->
str='https://piktalk.herokuapp.com'+str %>
<div class='card-image'>
  <img class="" src="<%=str%>" alt="My_Logo"></div>
      <div class="card-content">
        <strong>Detected Text :</strong> <%=model[i].textDetect %><br />
      <strong>Translated Text </strong><%=model[i].textTranslate %>
    </div>

      </div>
      <% } %>
    </ul>

<%}%>
</div>

</body>
</html>
