<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link rel="stylesheet" href="index.css">
  <script type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</head>
<body class='cont'>
  <nav>
    <div class="nav-wrapper">
      <a href="/query/result" class="right">View History</a>
      <a href="/query/index" class="right">Home</a>
    </div>
  </nav>
  <div class="contain">
  <div class="input-group formPos">
  <label>What language do u think it is</label>
  <div class='input-field lang'><select class="lang" name="lang">
    <% language.forEach(function(elem){%>
      <option class='lang' name='langDetect' value='<%=elem.code%>'><%=elem.langName%></option>
    <%})%>
  </select></div><br  />
  <label>What do you want to translate it to</label>
  <select class="langTrans" name="langTrans">
    <% language.forEach(function(elem){%>
      <option name='langTrans' value='<%=elem.code%>'><%=elem.langName%></option>
    <%})%>
  </select>

    <div class="camera">
    <video id="video">Video stream not available.</video>
    <button id="startbutton" class='btn'>Take photo</button>
  </div>
  <div class='thumbnail canvas embed-responsive embed-responsive-16by9'>
    <canvas id="canvas" class='embed-responsive-item'>
 </canvas></div>
<audio id="myAudioElement" />
</div>
<script>

$(document).ready(function() {
  console.log("entered")
  $('select').material_select(); //for Materialize-css framework - to load the dropdown menu

});

  var video = document.getElementById('video');
// Get access to the camera!
  if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
      // Not adding `{ audio: true }` since we only want video now
    navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
      video.src = window.URL.createObjectURL(stream);
      video.play();
    });
  }

  var canvas = document.getElementById('canvas');
  var context = canvas.getContext('2d');
  var video = document.getElementById('video');
  w=video.width;
  h= video.height
  console.log(w)
  console.log(h)

    // Trigger photo take
  document.getElementById("startbutton").addEventListener("click", function() {
  	context.drawImage(video,0,0,canvas.width, canvas.height);
    var dataURL = canvas.toDataURL();
    makeblob = function (dataURL) {
      var BASE64_MARKER = ';base64,';
      if (dataURL.indexOf(BASE64_MARKER) == -1) {
        var parts = dataURL.split(',');
        var contentType = parts[0].split(':')[1];
        var raw = decodeURIComponent(parts[1]);
        return new Blob([raw], {
            type: contentType
        });
      }
      var parts = dataURL.split(BASE64_MARKER);
      var contentType = parts[0].split(':')[1];
      var raw = window.atob(parts[1]);
      var rawLength = raw.length;

      var uInt8Array = new Uint8Array(rawLength);

      for (var i = 0; i < rawLength; ++i) {
        uInt8Array[i] = raw.charCodeAt(i);
      }

      return new Blob([uInt8Array], {
        type: contentType
      });
    }
    var audio = document.getElementById('myAudioElement') || new Audio();
audio.src = 'https://api.voicerss.org/?key=f4b8cbcf08304aeeb2dc6ff5f527e4f5&hl=en-us&src=Hello,world!';

     form = new FormData(),
     request = new XMLHttpRequest();
     request.onload = function(e) {
       var obj = request.response;
       var param = {id: obj}
       $.ajax({
         url: '/query/result',
         data: param,
         type: 'GET',
         success: function(data){
           $('.cont').html(data)
         }
       })
     }
     var fileOfBlob = new File([makeblob(dataURL)], 'aFileName.json');
     var lang = $('.lang').val()
     var langTrans = $('.langTrans').val()
     console.log(lang)
     form.append("myFile", fileOfBlob);
     form.append("lang", lang);
     form.append('langTrans', langTrans)
     request.open(
       "POST",
       "/query/",
       true
     );
     request.send(form);
    });


    </script>
  </body>
</html>
