<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link rel="stylesheet" href="index.css">
  <title>Document</title>
  <script type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <!-- <script src="http://materializecss.com/bin/materialize.js" /> -->
</head>
<body class='cont'>
  <nav>
    <div class="nav-wrapper">
      <a href="/query/history" class="right">View History</a>
      <a href="/query/" class="right">Home</a>
    </div>
  </nav>
  <div class='contain'>

  <div class="input-group form-group formPos">
    <label>What language do u think it is</label>
    <select class="lang form-control" name="lang">
    <% language.forEach(function(elem){%>
      <option name='lang' value='<%=elem.code%>'><%=elem.langName%></option>
    <%})%>
    </select><br  />
    <label>What do you want to translate it to</label>
    <select class="langTrans form-control" name="langTrans">
    <% language.forEach(function(elem){%>
      <option class='langTrans' value='<%=elem.code%>'><%=elem.langName%></option>
    <%})%>
    </select>
    <div class="file-field input-field">
      <div class="btn">
        <span>Take Picture</span>
        <input type="file" id="cameraInput" name="cameraInput" accept="image/*" capture='camera' />
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  <div class="progress">
      <div class="indeterminate"></div>
  </div>

  <div class='thumbnail canvas embed-responsive embed-responsive-16by9'><canvas class="embed-responsive-item" id="imageCanvas"></canvas></div>
  <div class='btnPos'><button id="startButton" class="btn">Submit</button></div>
 </div>
 </div>
<script>

var lang;
var langTrans
// $(document).ready(function() {
//   console.log("entered")
//   $('.lang, .langTrans').material_select(); //for Materialize-css framework - to load the dropdown menu
//   $('.lang').on('change', function(){
//     lang = $('.lang').val()
//     // $('.lang').material_select();
//     console.log(lang)
//   })
//   $('.langTrans').on('change', function(){
//     langTrans = $('.langTrans').val()
//   })
// });
//

var imageLoader = document.getElementById('cameraInput');
    imageLoader.addEventListener('change', handleImage, false);
var canvas = document.getElementById('imageCanvas');
var ctx = canvas.getContext('2d');


function handleImage(e){
    var reader = new FileReader();
    reader.onload = function(event){
        var img = new Image();
        img.onload = function(){
            canvas.width = img.width;
            canvas.height = img.height;
            ctx.drawImage(img,0,0);
        }
        img.src = event.target.result;
    }
    reader.readAsDataURL(e.target.files[0]);
}

document.getElementById("startButton").addEventListener("click", function() {
  $('.progress').show()
  var dataURL = canvas.toDataURL();
  makeblob = function (dataURL) {
    var BASE64_MARKER = ';base64,';
    if (dataURL.indexOf(BASE64_MARKER) == -1) {
      var parts = dataURL.split(',');
      var contentType = parts[0].split(':')[1];
      var raw = decodeURIComponent(parts[1]);
      return new Blob([raw], {
          type: contentType
      });
    }
    var parts = dataURL.split(BASE64_MARKER);
    var contentType = parts[0].split(':')[1];
    var raw = window.atob(parts[1]);
    var rawLength = raw.length;

    var uInt8Array = new Uint8Array(rawLength);

    for (var i = 0; i < rawLength; ++i) {
      uInt8Array[i] = raw.charCodeAt(i);
    }

    return new Blob([uInt8Array], {
      type: contentType
    });
  }
//   var audio = document.getElementById('myAudioElement') || new Audio();
// audio.src = 'https://api.voicerss.org/?key=f4b8cbcf08304aeeb2dc6ff5f527e4f5&hl=en-us&src=Hello,world!';

   form = new FormData(),
   request = new XMLHttpRequest();
   request.onload = function(e) {
     var obj = request.response;
     var param = {id: obj}
     $.ajax({
       url: '/query/result',
       data: param,
       type: 'GET',
       success: function(data){
         $('.cont').html(data)
       }
     })
   }
   var fileOfBlob = new File([makeblob(dataURL)], 'aFileName.json');
   var lang = $('.lang').val()
   console.log(lang)
   var langTrans = $('.langTrans').val()
   console.log(langTrans)
   form.append("myFile", fileOfBlob);
   form.append("lang", lang);
   form.append('langTrans', langTrans)
   request.open(
     "POST",
     "/query/",
     true
   );
   request.send(form);
  });

 </script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</body>
</html>
