<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link rel="stylesheet" href="index.css">
  <title>Document</title>

  <script type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
  <!-- <script src="http://materializecss.com/bin/materialize.js" /> -->
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/query/" class="right">New Translation</a>
      <a href="/query/history" class="right">View History</a>
    </div>
  </nav>
  <div class='contain'>
    <div class="">
      <div class="center">
        <% var temp = model.imageUrl
        var str = temp.slice(7)
        str= 'http://localhost:3000'+str %>
        <img class='responsive-img' src="<%=str%>" >
      </div>
    </div>
  <table>
    <thead>
      <tr>
        <th> Detected Text </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><%=model.textDetect %></th>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th> Translated Text </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><%=model.textTranslate %></th>
      </tr>
    </tbody>
  </table>
</div>
<% var hello = model.textDetect
var code = model.ttsCode
var source = 'http://api.voicerss.org/?key=f4b8cbcf08304aeeb2dc6ff5f527e4f5&hl='+code+'&src='+hello%>
  <video controls='true' src='<%=source%>' type='audio/*'></video>
</body>
</html>
