<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
  </script>
</head>
<body>
  Preview image

  <img class="img" />

  Identified text
  <div><%=model.textDetect %></div>

  Translated text
  <div><%= model.textTranslate %></div>
  <script>
  var source = '<%= model.imageUrl %>'
  $('.img').attr('src', source)
  </script>
</body>
</html>
